[buildout]
extends = http://dist.plone.org/release/4.3.1/versions.cfg
eggs-directory = eggs
versions = versions
unzip = true
parts =
    zeo
    instance
    varnish

[zeo]
recipe = plone.recipe.zeoserver

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
zeo-client = on
debug-mode = on
verbose-security = on
eggs =
    Pillow
    Plone

[varnish] 
recipe = plone.recipe.varnish
daemon = ${buildout:directory}/nixenv/sbin/varnishd
bind = 127.0.0.1:8000
backends = 127.0.0.1:8080
cache-size = 256M


[versions]
zc.buildout = 1.7.1
distribute = 0.6.34
plone.recipe.zope2instance = 4.2.11
plone.recipe.zeoserver = 1.2.6
plone.recipe.varnish = 1.3dev
